@charset "UTF-8";
.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.homeELementsPosition {
  position: absolute;
  top: 45%; }

.margin-home {
  position: relative;
  top: 47%; }

.home-color, .home-title, .mobile-home-title {
  color: white;
  font-weight: bold; }

.home-title {
  font-size: 52px;
  padding: 10px;
  text-shadow: 2px 1px 2px #303030; }

.home-link, .mobile-home-link {
  border: 2px solid white;
  padding: 5px 23px;
  font-size: 27px;
  background-color: #303030;
  opacity: 0.7; }
  .home-link a, .mobile-home-link a {
    color: #ffffff !important;
    opacity: 1;
    font-weight: bold; }
  .home-link:hover, .mobile-home-link:hover {
    transition: 1.5s;
    background-color: darkgray;
    color: white !important; }

.home-text, .mobile-home-text {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em darkgray;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.65;
  padding-bottom: 15px; }

/*Мобильная версия */
.mobileHomeELementsPosition {
  position: absolute;
  top: 30%; }

.mobile-home-title {
  padding: 10px;
  text-shadow: 2px 1px 2px #303030; }

.mobile-home-text {
  font-size: 13px; }

.mobile-home-link {
  font-size: 16px; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.background-footer {
  background-color: #303030; }

.pdfooter {
  padding-top: 4px; }

.img-footer {
  height: 30px;
  width: 30px; }

.text-footer, .mobile-text-footer {
  line-height: 1;
  font-size: 13px;
  color: darkgray;
  opacity: 0.4;
  font-style: italic;
  margin-top: -4px; }

.brand-style-footer {
  font-size: 25px !important; }

/*Мобильная версия */
.mobile-img-footer {
  height: 25px;
  width: 25px; }

.mobile-brand-style-footer {
  font-size: 17px !important; }

.mobile-text-footer {
  font-size: 5px;
  white-space: nowrap; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.flip-container {
  position: relative;
  margin: 10px auto;
  height: 400px;
  width: 100%;
  border: 0.2px solid #303030;
  z-index: 1; }

.flip-container {
  perspective: 1000px; }

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear; }

.flip-container:hover > .card {
  transform: rotateY(180deg); }

.face {
  position: absolute;
  width: 100%;
  height: 400px;
  backface-visibility: hidden; }
  .face img {
    width: 100%;
    height: 400px; }

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: black;
  text-align: center;
  background-color: #ffffff; }

.pdPhoto {
  padding: 5px 0; }

.margin-photo {
  margin-top: 15px !important; }

.panel-body {
  border-bottom: none !important; }

.panel-heading {
  background-color: #303030 !important; }
  .panel-heading .panel-title {
    color: #009670;
    font-size: 23px;
    font-weight: bold; }

.panel-body > p, .panel-body > p > ul > li {
  color: #333333;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  font-family: cursive; }

.pd-mobile-photo {
  padding: 6px 10px; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.background-home-books {
  margin-top: -20px;
  background-color: white; }

.books-img {
  border: 1px solid black;
  box-shadow: 2px 1px 1px 1px black;
  width: 100%;
  height: 450px; }

.pdbooks {
  padding: 20px 0; }

.title-book {
  color: #009670;
  font-size: 40px;
  font-weight: bold;
  margin-top: -7px;
  padding: 10px 0; }

.text-book {
  color: white;
  font-size: 18px;
  font-weight: 300; }

.mobile-pd-books {
  padding: 10px 0; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.bioContentStyle {
  z-index: 999; }

.title-bio, .title-about {
  color: #009670;
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  text-shadow: 2px 2px 2px black; }

.text-bio, .text-about, .about-email {
  color: #ffffff;
  font-size: 18px;
  padding: 15px 0;
  text-indent: 1.5em; }

.border-bio {
  border-left: 2px solid #303030;
  margin-top: 10px; }

.pdbt20 {
  padding-bottom: 20px; }

.redLine, .izumrudLine {
  font-size: 19px;
  font-style: italic;
  font-weight: bold; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.sidebar-links {
  border-bottom: 1px solid gray;
  max-width: 100%;
  padding: 10px 0; }
  .sidebar-links:last-child {
    border-bottom: none !important; }
  .sidebar-links a {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 2px 1px 1px #303030; }
  .sidebar-links a:hover {
    color: darkgray !important;
    font-weight: bold; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.bioContentStyle {
  z-index: 999; }

.title-bio, .title-about {
  color: #009670;
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  text-shadow: 2px 2px 2px black; }

.text-bio, .text-about, .about-email {
  color: #ffffff;
  font-size: 18px;
  padding: 15px 0;
  text-indent: 1.5em; }

.border-bio {
  border-left: 2px solid #303030;
  margin-top: 10px; }

.pdbt20 {
  padding-bottom: 20px; }

.redLine, .izumrudLine {
  font-size: 19px;
  font-style: italic;
  font-weight: bold; }

.navbar-default {
  background: #303030;
  border: 1px solid #303030;
  padding: 7px 0;
  border-radius: 1px; }

.header-list > a, .dropdown-toggle {
  font-size: 20px;
  color: white;
  font-weight: 900;
  background-color: #303030; }
  .header-list > a:hover, .dropdown-toggle:hover {
    color: white !important;
    background-color: #303030; }

.dropdown-toggle:hover {
  color: darkgray; }

.dropdown-links {
  font-size: 18px;
  background-color: #303030;
  color: darkgray !important;
  font-weight: 700; }
  .dropdown-links:hover {
    background-color: #303030 !important;
    color: white; }

.brand-style, .brand-style-footer, .mobile-brand-style-footer {
  color: #009670 !important;
  font-size: 32px;
  font-weight: 800;
  font-family: 'Berkshire Swash', cursive; }
  .brand-style:hover, .brand-style-footer:hover, .mobile-brand-style-footer:hover {
    color: #009670 !important; }

.active > a, .active > a:hover, .active > a:focus {
  color: white !important;
  background: #303030 !important; }

.pdAbout {
  padding: 15px 0; }

.pdGrid {
  padding: 20px 0; }

.pdSpecialAbout {
  padding: 10px 0;
  border-top: 1px solid rgba(169, 169, 169, 0.5); }

.pdbt50 {
  padding-bottom: 50px; }

.btn-about {
  padding: 5px 20px;
  color: #ffffff;
  background-color: #303030;
  font-size: 25px;
  font-style: italic;
  box-shadow: 1px 1px 1px 1px black;
  margin-bottom: 50px; }

.about-email {
  padding: 0;
  text-indent: 0; }

.izumrudLine {
  color: #009670; }

.test-parts-text > a {
  color: #ffffff !important;
  font-size: 24px;
  font-weight: bold; }

.positionTest {
  margin-top: 20vh;
  border: 1px solid white;
  padding: 7px 15px; }
  .positionTest:hover {
    background-color: darkgray; }

.backError {
  background-color: black;
  height: 95vh;
  margin-top: -20px; }

.pdError {
  position: relative;
  top: 35%; }

.textError {
  color: #ffffff;
  font-style: italic;
  padding-bottom: 20px; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

a, a:hover {
  text-decoration: none !important;
  color: black; }

ul > li {
  list-style: none; }

.background-home, .background-home-first, .background-test {
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: cover;
  /* Современные браузеры */
  height: 94vh;
  width: 100%;
  margin-top: -20px;
  opacity: 1 !important; }

.background-home-books {
  background: url("../images/books/back.jpg") repeat fixed; }

.background-test {
  background-color: black; }

.background-home-photo {
  background: url("../images/zabor.jpg") repeat;
  background-size: contain;
  min-width: 100%;
  margin-top: -20px; }

.title-all-pages {
  padding: 20px 0 10px 0;
  font-weight: bold;
  font-size: 43px;
  color: white;
  font-family: 'Rubik', sans-serif !important; }

/*# sourceMappingURL=base.css.map */
