@import "../shared/header";

.homeELementsPosition{
  position: absolute;
  top:45%;
}
.margin-home{
  position: relative;
  top:47%;
}
.home-color{
  color:white;
  font-weight:bold ;
}
.home-title{
  @extend .home-color;
  font-size: 52px;
  padding: 10px;
  text-shadow: 2px 1px 2px $dark;
}
.home-link{
  border: 2px solid white;
  padding: 5px 23px;
  font-size: 27px;
  background-color: $dark;
  opacity: 0.7;

  a{
    color:#ffffff!important;
    opacity: 1;
    font-weight: bold;
  }
  &:hover{
    transition: 1.5s;
    background-color: darkgray;
    color:white!important;
  }
}
.home-text{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em darkgray;
  font-size: 16px;
  font-weight:bold;
  font-style: italic;
  line-height: 1.65;
  padding-bottom: 15px;
}

/*Мобильная версия */
.mobileHomeELementsPosition{
  position: absolute;
  top:30%;
}
.mobile-home-title{
  @extend .home-color;
  padding: 10px;
  text-shadow: 2px 1px 2px $dark;
}

.mobile-home-text{
  @extend .home-text;
  font-size: 13px;
}

.mobile-home-link{
  @extend .home-link;
  font-size: 16px;
}

