.backError{
  background-color: black;
  height: 95vh;
  margin-top: -20px;
}
.pdError{
  position: relative;
  top:35%;

}
.textError{
  color:#ffffff;
  font-style: italic;
  padding-bottom: 20px;

}
